.btn-icon{
    height: 70px;
    width: 300px;
    border-radius: 10px 0 0 10px;
    text-transform: uppercase;

}

.btn-icon-content{
    background: #33569b;
    border-radius: 0 10px 10px 0; 
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#FFF


}