.home-container{
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;

}

.home-content{
    height: 780px;
    padding-top: 155px;
    padding-left: 100px;
    padding-bottom: 150px;
    
}  

.text-title{
    
    width: 565px;
    height: 150px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 75px;
    letter-spacing: -0.015em;

    color: #263238;

    mix-blend-mode: normal;
}

.text-subtitle{
    
    width: 516px;
    height: 78px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    margin-bottom: 150px !important;
    margin-top: 30px;
    color: #9E9E9E;
}

.home-text{
    padding-left: 100px;
}

.main-image{
    width: 100%;
}